.jumbotron {
    background-image: url("../images/colorful_notes.png");
    border-bottom: 1px solid black;
    background-color: rgb(203, 26, 219)
}

body {
    background-color: rgb(225, 226, 243);
}

.container {
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 0.3rem;
    text-align: center;
    display: flex;
    justify-content: center;
}

#jumbotron-words {
    margin: 0 10% 0;
}

#game-status {
    width: 30%;
    font-size: 20px;
    line-height: 25px;
    display: inline-block;
    margin-left: 23%;
    margin-top: 4%;
}

#result {
    float: inline;
    font-size: 100px;
    padding-top: 100px;
    padding-left: 500px;
}

.italics {
    font-style: italic;
}

#currentWord, #incorrect {
    letter-spacing: 2px;
}

#incorrect {
    min-height: 25px;
}

.button {
    margin-top: 10px;
    border-radius: 0.3rem;
    background-color: rgb(158, 20, 170);
    color: whitesmoke;
    padding: 5px;
}

.bold {
    font-weight: bold;
}

.side-image {
    width: 15%;
}

#right-side-image {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}